<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detalle de pelicula</h1>
    <ul>    
        <li>Titulo : <%= movie.title %></li>
        <li>Rating : <%= movie.rating %></li>
        <li>Premios : <%= movie.awards %></li>
        <li>Duracion : <%= movie.length %></li>
        <li>Fecha estreno : <%= movie.release_date %></li>
        

        <h4>GENERO</h4>
        <li> <%= movie.genres.name %></li>

        <h4>ACTORES</h4>
        <% movie.actors.forEach(actor => { %>
            <li>  <%= actor.first_name %> <%= actor.last_name %></li>

       <% }) %>
      

        <h3><a href="/movies/edit/<%= movie.id %>">EDITAR PELI</a></h3>
        <h3><a href="/movies/delete/<%= movie.id %>">ELIMINAR PELI </a></h3>

</ul>
</body>
</html>